<h1 class="text-center"><%= @restaurant.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p class="badge"><%= @restaurant.category%></p>
      <ul>
        <%= @restaurant.address%>
        <% @restaurant.reviews.each do |review| %>
          <li><%= review.content %></li>
        <% end %>
      </ul>
      <%= link_to "ajouter une review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary'%>
      <%= link_to "Back to list", restaurants_path(), class: 'btn btn-primary'%>
    </div>
  </div>
</div>
